<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="folderToWatch" value="c:\data\%ProjectName%\Processing\%ElementName%\ToBeProcessedQueue\"/>
    <add key="workingPath" value="c:\data\%ProjectName%\Processing\%ElementName%\Temp\"/>
    <add key="errorProcessingPath" value="c:\data\%ProjectName%\Processing\%ElementName%\ProblemProcessingQueue\"/>
    <add key="outPutPath" value="c:\data\%ProjectName%\Output\%ElementName%\"/>
    <add key="completedPath" value="c:\data\%ProjectName%\Original\%ElementName%\"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
