<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="commander" type="Talifun.Commander.Command.Configuration.CommanderSection, Talifun.Commander.Command" />
  </configSections>
  <appSettings>
    <add key="folderToWatch" value="c:\data\%ProjectName%\Processing\%ElementName%\ToBeProcessedQueue\" />
    <add key="workingPath" value="c:\data\%ProjectName%\Processing\%ElementName%\Temp\" />
    <add key="errorProcessingPath" value="c:\data\%ProjectName%\Processing\%ElementName%\ProblemProcessingQueue\" />
    <add key="outPutPath" value="c:\data\%ProjectName%\Output\%ElementName%\" />
    <add key="completedPath" value="c:\data\%ProjectName%\Original\%ElementName%\" />
    <add key="FFMpegPath" value="ffmpeg.exe" />
    <add key="FlvTool2Path" value="flvtool2.exe" />
    <add key="QtFastStartPath" value="qt-faststart.exe" />
    <add key="McAfeePath" value="echo.exe" />
    <!--C:\Program Files\McAfee\VirusScan Enterprise\csscan.exe-->
    <add key="ConvertPath" value="convert.exe" />
    <add key="CompositePath" value="composite.exe" />
  </appSettings>
  <commander>
    <projects>
      <project name="Blog">
        <folders>
          <!-- Blog - Image Processing -->
          <folder name="WatchBlogImage" folderToWatch="C:\Data\talifun-commander\Examples\Blog\Processing\Image\ToBeProcessedQueue\" workingPath="C:\Data\talifun-commander\Examples\Blog\Processing\Image\Temp\" completedPath="C:\Data\talifun-commander\Examples\Blog\Original\Image\">
            <fileMatches>
              <fileMatch name="ConvertBlogOriginal" expression=".+?\.(gif|jpeg|jpg|png)$" conversionType="CommandLine" commandSettingsKey="SettingsForBlogOriginal" />
              <fileMatch name="ConvertBlogImage" expression=".+?\.(gif|jpeg|jpg|png)$" conversionType="ImageConversion" commandSettingsKey="SettingsForBlogImage" />
              <fileMatch name="ConvertBlogImageThumbnail" expression=".+?\.(gif|jpeg|jpg|png)$" conversionType="ImageConversion" commandSettingsKey="SettingsForBlogImageThumbnail" />
              <fileMatch name="UploadImageToFlickr" expression=".+?\.(gif|jpg|jpeg|png|tif)$" conversionType="FlickrUploader" commandSettingsKey="SettingsForBlogFlickrUpload" />
              <fileMatch name="UploadImageToPicasa" expression=".+?\.(bmp|gif|jpg|jpeg|png|psd|tga|tif|tiff|dng|crw|cr2|raww|raf|3fr|dcr|kdc|mrw|nef|nrw|orf|rw2|pef|x3f|srf|sr2)$" conversionType="PicasaUploader" commandSettingsKey="SettingsForBlogPicasaImageUpload" />
            </fileMatches>
          </folder>
          <!-- Blog - Video Processing-->
          <folder name="WatchBlogVideo" folderToWatch="C:\Data\talifun-commander\Examples\Blog\Processing\Video\ToBeProcessedQueue\" workingPath="C:\Data\talifun-commander\Examples\Blog\Processing\Video\Temp\" completedPath="C:\Data\talifun-commander\Examples\Blog\Original\Video\">
            <fileMatches>
              <fileMatch name="ConvertBlogVideo" expression=".+?\.(3gp|3g2|asf|avi|dv|flv|mov|mp4|mpg|mpeg|mv4|ogv|webm|wmv)$" conversionType="VideoConversion" commandSettingsKey="SettingsForBlogVideo" />
              <fileMatch name="ConvertBlogVideoThumbnail" expression=".+?\.(3gp|3g2|asf|avi|dv|flv|mov|mp4|mpg|mpeg|mv4|ogv|webm|wmv)$" conversionType="VideoThumbnailer" commandSettingsKey="SettingsForBlogVideoThumbnail" />
              <fileMatch name="UploadToYouTube" expression=".+?\.(3gp|3g2|asf|avi|dv|flv|mov|mp4|mpg|mpeg|mv4|ogv|webm|wmv)$" conversionType="YouTubeUploader" commandSettingsKey="SettingsForBlogYouTubeUpload" />
              <fileMatch name="UploadVideoToPicasa" expression=".+?\.(3gp|asf|avi|m2t|m2ts|mov|mmv|mp4|mpg|wmv)$" conversionType="PicasaUploader" commandSettingsKey="SettingsForBlogPicasaVideoUpload" />
            </fileMatches>
          </folder>
          <!-- Blog - Audio Processing-->
          <folder name="WatchBlogAudio" folderToWatch="C:\Data\talifun-commander\Examples\Blog\Processing\Audio\ToBeProcessedQueue\" workingPath="C:\Data\talifun-commander\Examples\Blog\Processing\Audio\Temp\" completedPath="C:\Data\talifun-commander\Examples\Blog\Original\Audio\">
            <fileMatches>
              <fileMatch name="ConvertBlogAudio" expression=".+?\.(wav|mp3|m4a|aac)$" conversionType="AudioConversion" commandSettingsKey="SettingsForBlogAudio" />
            </fileMatches>
          </folder>
          <!-- Blog - Document Processing-->
          <folder name="WatchBlogFile" folderToWatch="C:\Data\talifun-commander\Examples\Blog\Processing\File\ToBeProcessedQueue\" workingPath="C:\Data\talifun-commander\Examples\Blog\Processing\File\Temp\" completedPath="C:\Data\talifun-commander\Examples\Blog\Original\File\">
            <fileMatches>
              <fileMatch name="ScanBlogFile" expression=".+?\.(pdf|doc|xls|ppt)$" conversionType="AntiVirus" commandSettingsKey="SettingsForBlogFile" />
              <fileMatch name="UploadImageToBoxNet" expression=".+?\.(pdf|doc|xls|ppt)$" conversionType="BoxNetUploader" commandSettingsKey="SettingsForBlogBoxNetUpload" />
              <fileMatch name="UploadImageToDropBox" expression=".+?\.(pdf|doc|xls|ppt)$" conversionType="DropBoxUploader" commandSettingsKey="SettingsForBlogDropBoxUpload" />
            </fileMatches>
          </folder>
        </folders>
        <antiVirusSettings>
          <!-- Blog - Document Output-->
          <antiVirusSetting name="SettingsForBlogFile" outPutPath="C:\Data\talifun-commander\Examples\Blog\Output\File\" workingPath="C:\Data\talifun-commander\Examples\Blog\Processing\File\Temp\" errorProcessingPath="C:\Data\talifun-commander\Examples\Blog\Processing\File\ProblemProcessingQueue\" virusScannerType="McAfee" />
        </antiVirusSettings>
        <audioConversionSettings>
          <!-- Blog - Audio Output-->
          <audioConversionSetting name="SettingsForBlogAudio" outPutPath="C:\Data\talifun-commander\Examples\Blog\Output\Audio\" workingPath="C:\Data\talifun-commander\Examples\Blog\Processing\Audio\Temp\" errorProcessingPath="C:\Data\talifun-commander\Examples\Blog\Processing\Audio\ProblemProcessingQueue\" audioConversionType="Mp3" audioBitRate="128000" audioFrequency="44100" audioChannels="2" />
        </audioConversionSettings>
        <boxNetUploaderSettings>
          <!-- Blog - Box Upload -->
          <boxNetUploaderSetting name="SettingsForBlogBoxNetUpload" outPutPath="C:\Data\talifun-commander\Examples\Blog\Output\File\" errorProcessingPath="C:\Data\talifun-commander\Examples\Blog\Processing\File\ProblemProcessingQueue\" workingPath="C:\Data\talifun-commander\Examples\Blog\Processing\File\Temp\" boxNetUsername="" boxNetPassword="" boxNetFolder="" />
        </boxNetUploaderSettings>
        <commandLineSettings>
          <!-- Blog - Original Image Output -->
          <commandLineSetting name="SettingsForBlogOriginal" outPutPath="C:\Data\talifun-commander\Examples\Blog\Output\Image\Original\" commandPath="CMD.exe" checkCommandPathExists="false" args="/c copy &quot;{%InputFilePath%}&quot; &quot;{%OutPutFilePath%}&quot;" />
        </commandLineSettings>
        <dropBoxUploaderSettings>
          <!-- Blog - Drop Box Upload -->
          <dropBoxUploaderSetting name="SettingsForBlogDropBoxUpload" outPutPath="C:\Data\talifun-commander\Examples\Blog\Output\File\" errorProcessingPath="C:\Data\talifun-commander\Examples\Blog\Processing\File\ProblemProcessingQueue\" workingPath="C:\Data\talifun-commander\Examples\Blog\Processing\File\Temp\" dropBoxApiKey="" dropBoxApiSecret="" dropBoxAuthenticationKey="" dropBoxAuthenticationSecret="" dropBoxFolder="/Public" />
        </dropBoxUploaderSettings>
        <flickrUploaderSettings>
          <!-- Blog - Flickr Upload-->
          <flickrUploaderSetting name="SettingsForBlogFlickrUpload" outPutPath="C:\Data\talifun-commander\Examples\Blog\Output\Image\" errorProcessingPath="C:\Data\talifun-commander\Examples\Blog\Processing\Image\ProblemProcessingQueue\" workingPath="C:\Data\talifun-commander\Examples\Blog\Processing\Image\Temp\" flickrApiKey="" flickrApiSecret="" flickrAuthToken="" />
        </flickrUploaderSettings>
        <imageConversionSettings>
          <!-- Blog - Image Output -->
          <imageConversionSetting name="SettingsForBlogImage" outPutPath="C:\Data\talifun-commander\Examples\Blog\Output\Image\Resized\" errorProcessingPath="C:\Data\talifun-commander\Examples\Blog\Processing\Image\ProblemProcessingQueue\" workingPath="C:\Data\talifun-commander\Examples\Blog\Processing\Image\Temp\" resizeMode="FitMaximumWidth" quality="100" width="500" />
          <imageConversionSetting name="SettingsForBlogImageThumbnail" outPutPath="C:\Data\talifun-commander\Examples\Blog\Output\Image\ImageThumbnail\" errorProcessingPath="C:\Data\talifun-commander\Examples\Blog\Processing\Image\ProblemProcessingQueue\" workingPath="C:\Data\talifun-commander\Examples\Blog\Processing\Image\Temp\" resizeMode="CutToFit" quality="100" width="100" height="90" gravity="Center" />
        </imageConversionSettings>
        <picasaUploaderSettings>
          <!-- Blog - Picasa Upload -->
          <picasaUploaderSetting name="SettingsForBlogPicasaImageUpload" outPutPath="C:\Data\talifun-commander\Examples\Blog\Output\Image\" errorProcessingPath="C:\Data\talifun-commander\Examples\Blog\Processing\Image\ProblemProcessingQueue\" workingPath="C:\Data\talifun-commander\Examples\Blog\Processing\Image\Temp\" googleUsername="" googlePassword="" applicationName="TalifunCommander" />
          <picasaUploaderSetting name="SettingsForBlogPicasaVideoUpload" outPutPath="C:\Data\talifun-commander\Examples\Blog\Output\Video\" errorProcessingPath="C:\Data\talifun-commander\Examples\Blog\Processing\Video\ProblemProcessingQueue\" workingPath="C:\Data\talifun-commander\Examples\Blog\Processing\Video\Temp\" googleUsername="" googlePassword="" applicationName="TalifunCommander" />
        </picasaUploaderSettings>
        <videoConversionSettings>
          <!-- Blog - Video Output -->
          <videoConversionSetting name="SettingsForBlogVideo" outPutPath="C:\Data\talifun-commander\Examples\Blog\Output\Video\" workingPath="C:\Data\talifun-commander\Examples\Blog\Processing\Video\Temp\" errorProcessingPath="C:\Data\talifun-commander\Examples\Blog\Processing\Video\ProblemProcessingQueue\" audioConversionType="Aac" audioBitRate="152000" videoConversionType="H264" width="1920" height="1080" videoBitRate="3622000" frameRate="30" aspectRatio="RatioOf16By9" maxVideoBitRate="5000000" watermarkPath="C:\Data\talifun-commander\Examples\Blog\watermark.png" />
        </videoConversionSettings>
        <videoThumbnailerSettings>
          <!-- Blog - Video Output -->
          <videoThumbnailerSetting name="SettingsForBlogVideoThumbnail" outPutPath="C:\Data\talifun-commander\Examples\Blog\Output\Video\" errorProcessingPath="C:\Data\talifun-commander\Examples\Blog\Processing\Video\ProblemProcessingQueue\" workingPath="C:\Data\talifun-commander\Examples\Blog\Processing\Video\Temp\" imageType="JPG" width="100" height="90" timePercentage="10" />
        </videoThumbnailerSettings>
        <youTubeUploaderSettings>
          <!-- Blog - YouTube Upload -->
          <youTubeUploaderSetting name="SettingsForBlogYouTubeUpload" outPutPath="C:\Data\talifun-commander\Examples\Blog\Output\Video\" errorProcessingPath="C:\Data\talifun-commander\Examples\Blog\Processing\Video\ProblemProcessingQueue\" workingPath="C:\Data\talifun-commander\Examples\Blog\Processing\Video\Temp\" googleUsername="" googlePassword="" developerKey="" applicationName="TalifunCommander" />
        </youTubeUploaderSettings>
      </project>
    </projects>
  </commander>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.GData.Client" publicKeyToken="04a59ca9b0273830" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.GData.Extensions" publicKeyToken="0b4c5df2ebf20876" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MassTransit" publicKeyToken="b8e0e9f2f1e657fa" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.7.0.0" newVersion="2.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Magnum" publicKeyToken="b800c4cfcdeea87b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.3.0" newVersion="2.1.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>