<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="commander" type="Talifun.Commander.Command.Configuration.CommanderSection, Talifun.Commander.Command" />
  </configSections>

  <appSettings>
    <add key="YouTubeApiKey" value="AI39si6VcdnyQJWlgPAyRApioms-6I759g-yTYlBr-CqPGna6-4roz2UM6DMWHJ_fbiAxKH8AbDESciXADR-qjEjcq2JjVvNGg" />
    <add key="DropBoxApiKey" value="s64yij5x0mka9h4" />
    <add key="DropBoxApiPassword" value="9d2t1uidt1x447h" />
    
    <add key="folderToWatch" value="c:\data\%ProjectName%\Processing\%ElementName%\ToBeProcessedQueue\" />
    <add key="workingPath" value="c:\data\%ProjectName%\Processing\%ElementName%\Temp\" />
    <add key="errorProcessingPath" value="c:\data\%ProjectName%\Processing\%ElementName%\ProblemProcessingQueue\" />
    <add key="outPutPath" value="c:\data\%ProjectName%\Output\%ElementName%\" />
    <add key="completedPath" value="c:\data\%ProjectName%\Original\%ElementName%\" />
    
    <add key="FFMpegPath" value="ffmpeg.exe" />
    <add key="FlvTool2Path" value="flvtool2.exe" />
    <add key="QtFastStartPath" value="qt-faststart.exe" />
    <add key="McAfeePath" value="C:\Program Files\McAfee\VirusScan Enterprise\csscan.exe" />
    <add key="ConvertPath" value="convert.exe" />
    <add key="CompositePath" value="composite.exe" />
  </appSettings>

  <commander>
    <projects>
    </projects>
  </commander>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.1.0" newVersion="2.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
