<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="commander" type="Talifun.Commander.Command.Configuration.CommanderSection, Talifun.Commander.Command"/>
  </configSections>

  <appSettings>
    <add key="FFMpegPath" value="ffmpeg.exe"/>
    <add key="FlvTool2Path" value="flvtool2.exe"/>
    <add key="McAfeePath" value="C:\Program Files\McAfee\VirusScan Enterprise\csscan.exe"/>
    <add key="ConvertPath" value="convert.exe"/>
  </appSettings>

  <commander>
    <projects>
      <project name="Blog">
        <folders>
          <!-- Blog - Image Processing -->
          <folder name="WatchBlogImage" folderToWatch="C:\Data\talifun-commander\Examples\Assets\Blog\Processing\Image\ToBeProcessedQueue\" workingPath="C:\Data\talifun-commander\Examples\Assets\Blog\Processing\Image\Temp\" completedPath="C:\Data\talifun-commander\Examples\Assets\Blog\Original\Image\">
            <fileMatches>
              <fileMatch name="ConvertBlogOriginal" expression=".+?\.(gif|jpeg|jpg|png)$" conversionType="CommandLine" commandSettingsKey="SettingsForBlogOriginal"/>
              <fileMatch name="ConvertBlogImage" expression=".+?\.(gif|jpeg|jpg|png)$" conversionType="ImageConversion" commandSettingsKey="SettingsForBlogImage"/>
              <fileMatch name="ConvertBlogImageThumbnail" expression=".+?\.(gif|jpeg|jpg|png)$" conversionType="ImageConversion" commandSettingsKey="SettingsForBlogImageThumbnail"/>
            </fileMatches>
          </folder>

          <!-- Blog - Video Processing-->
          <folder name="WatchBlogVideo" folderToWatch="C:\Data\talifun-commander\Examples\Assets\Blog\Processing\Video\ToBeProcessedQueue\" workingPath="C:\Data\talifun-commander\Examples\Assets\Blog\Processing\Video\Temp\" completedPath="C:\Data\talifun-commander\Examples\Assets\Blog\Original\Video\">
            <fileMatches>
              <fileMatch name="ConvertBlogVideo" expression=".+?\.(3gp|3g2|asf|avi|dv|flv|mov|mp4|mpg|mpeg|wmv)$" conversionType="VideoConversion" commandSettingsKey="SettingsForBlogVideo"/>
              <fileMatch name="ConvertBlogVideoThumbnail" expression=".+?\.(3gp|3g2|asf|avi|dv|flv|mov|mp4|mpg|mpeg|wmv)$" conversionType="VideoThumbnailer" commandSettingsKey="SettingsForBlogVideoThumbnail"/>
            </fileMatches>
          </folder>

          <!-- Blog - Audio Processing-->
          <folder name="WatchBlogAudio" folderToWatch="C:\Data\talifun-commander\Examples\Assets\Blog\Processing\Audio\ToBeProcessedQueue\" workingPath="C:\Data\talifun-commander\Examples\Assets\Blog\Processing\Audio\Temp\" completedPath="C:\Data\talifun-commander\Examples\Assets\Blog\Original\Audio\">
            <fileMatches>
              <fileMatch name="ConvertBlogAudio" expression=".+?\.(wav|mp3|m4a|aac)$" conversionType="AudioConversion" commandSettingsKey="SettingsForBlogAudio"/>
            </fileMatches>
          </folder>

          <!-- Blog - Document Processing-->
          <folder name="WatchBlogFile" folderToWatch="C:\Data\talifun-commander\Examples\Assets\Blog\Processing\File\ToBeProcessedQueue\" workingPath="C:\Data\talifun-commander\Examples\Assets\Blog\Processing\File\Temp\" completedPath="C:\Data\talifun-commander\Examples\Assets\Blog\Original\File\">
            <fileMatches>
              <fileMatch name="ScanBlogFile" expression=".+?\.(pdf|doc|xls|ppt)$" conversionType="AntiVirus" commandSettingsKey="SettingsForBlogFile"/>
            </fileMatches>
          </folder>
        </folders>

        <commandLineSettings>
          <!-- Blog - Original Image Output -->
          <commandLineSetting name="SettingsForBlogOriginal" outPutPath="C:\Data\talifun-commander\Examples\Assets\Blog\Output\Image\Original\" commandPath="CMD.exe" checkCommandPathExists="false" args="/c copy &quot;{%InputFilePath%}&quot; &quot;{%OutPutFilePath%}&quot;"/>
        </commandLineSettings>

        <imageConversionSettings>
          <!-- Blog - Image Output -->
          <imageConversionSetting name="SettingsForBlogImage" outPutPath="C:\Data\talifun-commander\Examples\Assets\Blog\Output\Image\Resized\" errorProcessingPath="C:\Data\talifun-commander\Examples\Assets\Blog\Processing\Image\ProblemProcessingQueue\" workingPath="C:\Data\talifun-commander\Examples\Assets\Blog\Processing\Image\Temp\" resizeMode="FitMaximumWidth" quality="100" width="500"/>
          <imageConversionSetting name="SettingsForBlogImageThumbnail" outPutPath="C:\Data\talifun-commander\Examples\Assets\Blog\Output\Image\ImageThumbnail\" errorProcessingPath="C:\Data\talifun-commander\Examples\Assets\Blog\Processing\Image\ProblemProcessingQueue\" workingPath="C:\Data\talifun-commander\Examples\Assets\Blog\Processing\Image\Temp\" resizeMode="CutToFit" quality="100" width="100" height="90" gravity="Center"/>
        </imageConversionSettings>

        <audioConversionSettings>
          <!-- Blog - Audio Output-->
          <audioConversionSetting name="SettingsForBlogAudio" outPutPath="C:\Data\talifun-commander\Examples\Assets\Blog\Output\Audio\" workingPath="C:\Data\talifun-commander\Examples\Assets\Blog\Processing\Audio\Temp\" errorProcessingPath="C:\Data\talifun-commander\Examples\Assets\Blog\Processing\Audio\ProblemProcessingQueue\" audioConversionType="MP3" audioBitRate="128000" audioFrequency="44100" audioChannels="2"/>
        </audioConversionSettings>

        <videoConversionSettings>
          <!-- Blog - Video Output -->
          <videoConversionSetting name="SettingsForBlogVideo" outPutPath="C:\Data\talifun-commander\Examples\Assets\Blog\Output\Video\" workingPath="C:\Data\talifun-commander\Examples\Assets\Blog\Processing\Video\Temp\" errorProcessingPath="C:\Data\talifun-commander\Examples\Assets\Blog\Processing\Video\ProblemProcessingQueue\" videoConversionType="FLV" audioBitRate="64000" audioFrequency="44100" audioChannels="2" deinterlace="true" width="320" height="240" videoBitRate="650000" frameRate="25"/>
        </videoConversionSettings>

        <antiVirusSettings>
          <!-- Blog - Document Output-->
          <antiVirusSetting name="SettingsForBlogFile" outPutPath="C:\Data\talifun-commander\Examples\Assets\Blog\Output\File\" workingPath="C:\Data\talifun-commander\Examples\Assets\Blog\Processing\File\Temp\" errorProcessingPath="C:\Data\talifun-commander\Examples\Assets\Blog\Processing\File\ProblemProcessingQueue\" virusScannerType="McAfee"/>
        </antiVirusSettings>

        <videoThumbnailerSettings>
          <!-- Blog - Video Output -->
          <videoThumbnailerSetting name="SettingsForBlogVideoThumbnail" outPutPath="C:\Data\talifun-commander\Examples\Assets\Blog\Output\VideoThumbnail\" errorProcessingPath="C:\Data\talifun-commander\Examples\Assets\Blog\Processing\Video\ProblemProcessingQueue\" workingPath="C:\Data\talifun-commander\Examples\Assets\Blog\Processing\Video\Temp\" imageType="JPG" width="100" height="90" timePercentage="10"/>
        </videoThumbnailerSettings>

      </project>
    </projects>
  </commander>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
