<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="commander" type="Talifun.Commander.Command.Configuration.CommanderSection, Talifun.Commander.Command"/>
  </configSections>

  <appSettings>
    <add key="FFMpegPath" value="ffmpeg.exe"/>
    <add key="FlvTool2Path" value="flvtool2.exe"/>
    <add key="McAfeePath" value="C:\Program Files\McAfee\VirusScan Enterprise\csscan.exe"/>
    <add key="ConvertPath" value="convert.exe"/>
    <add key="CompositePath" value="composite.exe"/>
  </appSettings>

  <commander>
    <projects>
    </projects>
  </commander>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
