<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true">
  <targets>
    <target name="file" xsi:type="File" fileName="${basedir}/log-${date:format=yyyy-MM-dd}.log" />
    <target name="eventLog" xsi:type="EventLog" source="TalifunCommanderLogSource" log="TalifunCommanderLog" />
  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo="file" />
    <logger name="*" minlevel="Error" writeTo="eventLog" />
    <logger name="Talifun.Commander.Service" minlevel="Info" maxlevel="Warn" writeTo="eventLog" />
  </rules>
</nlog>