<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" throwExceptions="true">
  <!--<extensions>
    <add assembly="NLog.Targets.GrowlNotify" />
  </extensions>-->
  <targets>
    <target name="file" xsi:type="File" fileName="${basedir}/log-${date:format=yyyy-MM-dd}.log" />
    <target name="eventLog" xsi:type="EventLog" source="Talifun.Commander" log="Application" machineName="." layout="${message}"/>
    <!--<target name="growl" xsi:type="GrowlNotify" password="" host="localhost" port="23053" />-->
  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo="file" />
    <logger name="*" minlevel="Error" writeTo="eventLog" />
    <logger name="Talifun.Commander.Service.*" minlevel="Info" maxlevel="Warn" writeTo="eventLog" />
    <!--<logger name="*" minlevel="Error" writeTo="growl" />
    <logger name="Talifun.Commander.Service.*" minlevel="Info" maxlevel="Warn" writeTo="growl" />-->
  </rules>
</nlog>